@{
    ViewBag.Title = "مرکز تخصصی تعمیرات لوازم خانگی در تهران";
    ViewBag.Des = "تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-item">


    <div class="head-post" style="background-image: url('/Content/Images/dinaservice.png');">
        <div class="container">
            <div class="head-post-title">
                <h1>دینا سرویس ارائه دهنده ی خدمات تعمیر لوازم خانگی در سراسر تهران</h1>
            </div>
            <div class="head-post-content">
                <strong></strong>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contnet-post">
            <ul class="paragraph-item">
                <li>
                    <label></label>
                </li>
                <li>
                    <p class="aboutus">
                        <strong>دینا سرویس</strong> اولین شرکت خدمات پس از فروش در تهران است که از سال 1350 با تولیدکنندگان لوازم‌خانگی در ایران مسئولیت خدمات
                        پس از فروش را عهده‌دار بوده است. ما تا به امروز همواره کوشیده‌ایم تا با تکنولوژی و متدهای روز دنیا در عرصه‌ی خدمات پس از فروش، برای انواع برندهای ایرانی،
                        اروپایی، آمریکایی و آسیایی، دانش فنی و تخصصی متخصصین این مرکز را با جدیدترین متد روز دنیا ارتقا دهیم. امروزه این شرکت با تکنیسین‌های مجرب، متعهد و آگاه
                        به علم و تکنولوژی روز دنیا، برای رفع مشکلات لوازم‌خانگی شما هم شهریان عزیز در تهران آماده خدمت‌رسانی هست و همواره رضایتمندی شما سرلوحه‌ی کار ما بوده است.
                    </p>
                    <h3>
                        سابقه خدماتی <strong>دینا سرویس</strong>
                    </h3>
                    <p class="aboutus">
                        <strong>
                            دینا سرویس
                        </strong> دارای سابقه خدماتی در تعمیرات انواع لوازم برقی است. لوازم ریز آشپزخانه، اجاق‌گاز، مایکروفر، جاروبرقی و...
                    </p>
                    <p class="aboutus">
                        اما تمرکز اصلی و عمده <strong>دینا سرویس</strong> بر روی انجام تعمیرات سه نوع دستگاه یخچال، ظرف‌شویی و ماشین لباسشویی قرار دارد.
                        در این سه مورد با افتخار نمایندگی تمام برندها را عهده دار هستیم و در کوتاه‌ترین زمان ممکن و بهترین کیفیت خدمات را ارائه می دهیم.
                    </p>
                    <h3>
                        روند پیشرفت <strong>دینا سرویس</strong>
                    </h3>
                    <p>
                        <strong>دینا سرویس</strong> در این نیم‌قرن
                        تجربه ی پر و پیچ خم، مسیر خود رااز یک کسب‌وکار محلی شروع کرد و در حال حاضر توانسته است تعمیرات لوازم‌خانگی سراسر تهران را تحت پوشش قرار دهد.
                        دیناسرویس کار خود را در ابتدا از شرق تهران شروع کرد اما در حال حاضر با سرویس‌کارهای فعال در سراسر تهران مشغول به کار است و باافتخار بیان
                        می‌کنیم که در این سال‌ها هزاران مشتری راضی داشته‌ایم که بسیاری از آن‌ها به ما وفادار مانده و تعمیرات تمام لوازم‌خانگی خود را به ما می‌سپارند.
                    </p>
                    <h3>
                        دیدگاه <strong>دینا سرویس</strong>
                    </h3>
                    <p class="aboutus">
                        <strong>دینا سرویس</strong> بسیار بر روی روند کار و رضایت مشتری تاکید دارد به همین دلیل تابه‌حال کارش را به شهرهای دیگر گسترش نداده است. بااین‌حال دیدگاه 
                        <strong>دینا سرویس</strong> این است که با یافتن افراد معتمد و بسیار باتجربه، کار خود را به شهرهای دیگر کشور گسترش دهد. همچنین در نظر دارد به دلیل 
                        مشکلات بسیار زیاد مردم و حتی همکار‌ها، دریافتن قطعات لوازم‌خانگی فابریک، زیرساخت و بستر لازم را برای فروش قطعات اورجینال را فراهم کند.
                    </p>
                </li>

            </ul>

            <div class="project-tags">
                <span>برچسب ها : </span>

                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر لوازم خانگی".Replace(' ','-')})">#تعمیر لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="مرکز تعمیر لوازم خانگی".Replace(' ','-')})">#مرکز تعمیر لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات لوازم خانگی".Replace(' ','-')})">#تعمیرات لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات ماشین لباسشویی".Replace(' ','-')})">#تعمیرات ماشین لباسشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر ماشین لباسشویی".Replace(' ','-')})">#تعمیر ماشین لباسشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات ماشین ظرفشویی".Replace(' ','-')})">#تعمیرات ماشین ظرفشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر ماشین ظرفشویی".Replace(' ','-')})">#تعمیر ماشین ظرفشویی</a>


            </div>



        </div>

    </div>
</div>

