
@{
    ViewBag.Title = "مرکز تخصصی تعمیرات لوازم خانگی در تهران";
    ViewBag.Des = "تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-item">


    <div class="head-post" style="background-image: url('/Content/Images/dinaservice.png');">
        <div class="container">
            <div class="head-post-title">
                <h1>دینا سرویس ارائه دهنده ی خدمات تعمیر لوازم خانگی در سراسر تهران</h1>
            </div>
            <div class="head-post-content">
                <strong></strong>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contnet-post">
            <ul class="paragraph-item">
                <li></li>
                <li></li>
                <li>
                    <label>دفتر مرکزی</label>
                </li>
                <li>

                    <address>
                        <span>
                            <strong>آدرس دفتر مرکزی دینا سرویس:</strong>
                            ایـران، تهـران، خیـابان پیروزی، نبش چهارراه فرزانه، پلاک 43
                            <br />
                            <strong>تلفن:</strong>
                            02177478564 | 02177151790-3

                        </span>
                    </address>
                </li>
                <li>
                    <label>شمال تهران</label>
                </li>
                <li>
                    <address>
                        <span>
                            <strong>آدرس دفتر شمال دینا سرویس:</strong>
                            ایـران، تهـران، اقدسیه، خیـابان سپند، کوچه کامران، پاساژ صاحب قرانیه، واحد 32
                            <br />
                            <strong>تلفن:</strong>
                            02126100783 | 02126120917

                        </span>
                    </address>
                </li>
                <li>
                    <label>شرق تهران</label>
                </li>
                <li>
                    <address>
                        <span>
                            <strong>آدرس دفتر شرق دینا سرویس:</strong>
                            ایـران، تهـران، خیـابان پیروزی، نبش چهارراه فرزانه، پلاک 43
                            <br />
                            <strong>تلفن:</strong>
                            02177478564 | 02177151790 - 3

                        </span>
                    </address>
                </li>


                <li>
                    <label>غرب تهران</label>
                </li>
                <li>
                    <address>
                        <span>
                            <strong>آدرس دفتر غرب دینا سرویس:</strong>
                            ایـران، تهـران، خیـابان اشرفی اصفهانی، ساختمان هامون، واحد 48
                            <br />
                            <strong>تلفن:</strong>
                            02144239870 - 1

                        </span>
                    </address>
                </li>
            </ul>

            <div class="project-tags">
                <span>برچسب ها : </span>

                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر لوازم خانگی".Replace(' ','-')})">#تعمیر لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="مرکز تعمیر لوازم خانگی".Replace(' ','-')})">#مرکز تعمیر لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات لوازم خانگی".Replace(' ','-')})">#تعمیرات لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات ماشین لباسشویی".Replace(' ','-')})">#تعمیرات ماشین لباسشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر ماشین لباسشویی".Replace(' ','-')})">#تعمیر ماشین لباسشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات ماشین ظرفشویی".Replace(' ','-')})">#تعمیرات ماشین ظرفشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر ماشین ظرفشویی".Replace(' ','-')})">#تعمیر ماشین ظرفشویی</a>


            </div>



        </div>

    </div>
</div>

