@{
    ViewBag.Title = "خدمات مشاوره رایگان لوازم‌خانگی دینا‌سرویس";
    ViewBag.Des = "تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-item">


    <div class="head-post" style="background-image: url('/Content/Images/dinaservice.png');">
        <div class="container">
            <div class="head-post-title">
                <h1>تعمیر انواع یخچال و فریزر</h1>
            </div>
            <div class="head-post-content">
                <strong></strong>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contnet-post">
            <ul class="paragraph-item">
                <li>
                    <label></label>
                </li>
                <li>
                    <p class="aboutus">
                        خدمات تعمیرات یخچال در دینا‌سرویس خود به سه دسته کلی یخچال‌فریزر، یخچال ساید‌بای‌ساید و سایر انواع یخچال‌ها تقسیم می‌شود.
                    </p>
                    <p class="aboutus">
                        هریک از این دسته‌بندی‌ها نیز شامل
                        برندها و انواع بسیار زیادی می‌شود. سؤالی که پیش می‌آید این است که آیا باید برای هرکدام به تعمیرگاه‌های مختلف مراجعه کرد و یا خیر؟
                        پاسخ به این سؤال خیر است. به دلیل اینکه دینا‌سرویس با سال‌ها تلاش، تجربه، جذب سرویس‌کارهای متعدد و ... توانسته نمایندگی تعمیر
                        تمامی برندهای یخچال را دریافت کرده و سرویس‌کاران مجربی برای هریک از آن‌ها دارد. همچنین بسیاری از سرویس‌کاران در نمانام‌های متفرقه
                        نیز مهارت و تجربه‌ی بسیاری به دست آورد‌ه‌اند. پس دینا‌سرویس کاملاً آمادگی خدمات‌دهی برای تمامی انواع یخچال‌ها را در تهران دارا هست.
                    </p>
                    <p class="aboutus">
                        البته در نظر داشته باشید که منظور ما از نمایندگی تعمیرات در این برندها این است که زیر نظر اتحادیه
                        هستیم واضح است که به دلیل وجود تحریم‌ها امکان دریافت نمایندگی اصلی تعمیرات لوازم‌خانگی برندهای خارجی در حال حاضر امکان‌پذیر نیست.
                    </p>
                    <p class="aboutus">
                        برخی از انواع این یخچال‌ها که دینا‌سرویس به تعمیرات آن‌ها می‌پردازد به
                        شرح زیر هست. توجه داشته باشید که تعمیرکار یخچال برای تمامی مدل‌ها در دینا‌سرویس حضور دارند تا در سراسر تهران به شما خدمت‌رسانی کنند.
                    </p>
                    <ul class="article-list">
                        <li>
                            یخچال بدون فریزر
                        </li>
                        <li>
                            یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            یخچال درب فرانسوی
                        </li>
                        <li>
                            یخچال‌فریزر دوقلو
                        </li>
                        <li>
                            یخچال‌فریزر در پایین
                        </li>
                        <li>
                            یخچال‌فریزر در بالا
                        </li>
                        <li>
                            یخچال برفک دار
                        </li>
                        <li>
                            یخچال نو فراست و بدون برفک
                        </li>
                        <li>
                            یخچال‌ دور این دور
                        </li>
                    </ul>

                    <h3>
                        تعمیرات یخچال در محل
                    </h3>
                    <p class="aboutus">
                        جابجایی یخچال بسیار سخت و حساس است و امکان آسیب دیدن آن در مسیر تعمیرگاه وجود دارد. سرویس‌کاران یخچال دینا‌سرویس تمام
                        سعی خود را می‌کنند یخچال را در محل تعمیر کنند و یا فقط قطعه‌ی آسیب‌دیده را خارج کرده و مجدد برای ادامه‌ی تعمیر در محل بازگردند.
                    </p>
                    <p class="aboutus">
                        در صورت نیاز به جابجایی و یا به درخواست مشتری نیز این کار با
                        دقت و ظرافت کامل انجام خواهد شد. برخی از یخچال‌ها برای رد شدن از درب باید بازشوند و دارای پیچیدگی زیادی هستند که شخصی که با
                        آن برند آشنایی نداشته باشد می‌تواند به آن آسیب وارد کند. پس برای جابجایی یخچالتان نیز دقت کنید که مکان مناسبی را انتخاب نمایید.
                    </p>
                    <h3>
                        زمان ارائه خدمات
                    </h3>
                    <p class="aboutus">
                        پیش از آنکه کارشناس برای بررسی و تعمیر یخچال در محل حضور پیدا کند؛ زمان کاملاً با
                        شما هماهنگ می‌گردد. کارشناسان خبره ما در کوتاه‌ترین زمان ممکن که معمولاً نهایت تا 2 یا 3 ساعت بعد است، تعمیرات لازم را انجام می‌دهند.
                        البته این را در نظر داشته باشید در بعضی از برندهای یخچال تعداد سرویس‌کار محدودتر است و امکان دارد که کمی زمان حضور طولانی‌تر شود.
                    </p>
                    <h3>
                        هزینه‌ی تعمیرات یخچال
                    </h3>
                    <p class="aboutus">
                        قیمت و هزینه‌ی تعمیر یخچال به عوامل متعددی مانند برند و نوع یخچال، قطعه آسیب‌دیده و... بستگی دارد. می‌توانید با کارشناسان ما
                        تماس گرفته و درخواست مشاوره کنید، با پاسخ به سؤالات هزینه‌ی حدودی را به دست آورید.(در برخی موارد حتماً باید به‌صورت حضوری کارشناسی شود.)
                    </p>
                    <h3>
                        مشکلات عمده و خرابی در انواع یخچال‌ها
                    </h3>
                    <p class="aboutus">
                        طبق تجربه و با توجه به گفته‌ی مشتریان، در بیشتر موارد در انواع یخچال‌ها مشکلاتی مشابه وجود دارد. در زیر برخی از این مشکلات که منجر به تعمیر یخچال می‌گردد را بررسی می‌نماییم.
                    </p>
                    <ul class="article-list">
                        <li>
                            برفک نزدن یخچال
                        </li>
                        <li>
                            خالی شدن و یا نشتی گاز یخچال
                        </li>
                        <li>
                            خرابی لاستیک دور درب یخچال
                        </li>
                        <li>
                            بسته نشدن درب یخچال
                        </li>
                        <li>
                            ایراد در موتور یخچال
                        </li>
                        <li>
                            خرابی یخ‌ساز و آب‌سردکن
                        </li>
                        <li>
                            سروصدای بیش‌ازحد
                        </li>
                        <li>
                            گرم شدن داخل یخچال و فریزر
                        </li>
                        <li>
                            اجرای بیش‌ازحد یخچال‌فریزر
                        </li>
                        <li>
                            نشت آب در یخچال‌فریزر
                        </li>
                        <li>
                            هرچند دقیقه اتومات کردن یخچال
                        </li>
                        <li>
                            برق داشتن بدنه یخچال
                        </li>
                        <li>
                            بوی بد داخل یخچال
                        </li>
                        <li>
                            نمایش کدهای خطا و ارور
                        </li>
                    </ul>
                    <h3>
                        تعمیرات یخچال ساید‌بای‌ساید
                    </h3>
                    <p class="aboutus">
                        مهم نیست که یخچال ساید شما چه برند و مدلی دارد. چراکه تعمیرکاران مجرب دینا‌سرویس با سالیان سال تجربه در این زمینه به بهترین شکل تعمیر یخچال ساید‌بای‌ساید شمارا انجام می‌دهند.
                        یکی از نگرانی‌های اشخاص جابجایی این یخچال برای تعمیر است؛ اما خبر خوب این است که کارشناسان ما بیش از 98% تعمیرات ساید را در منزل و در محل انجام می‌دهند.
                    </p>
                    <p class="aboutus">
                        عمده‌ی تعمیراتی که برای یخچال ساید انجام می‌پذیرد به شرح زیر است:
                    </p>
                    <ul class="article-list">
                        <li>
                            تعمیر یخ‌ساز یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            تعویض دمپر یخ‌ساز
                        </li>
                        <li>
                            شارژ گاز یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            نشتی گیر اوپراتور یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            تعویض فن داخلی یخچال ساید
                        </li>
                        <li>
                            تعویض فن کندانسور یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            تعویض کمپرسور یخچال ساید
                        </li>
                        <li>
                            تعویض فیلتر یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            تعویض شیر برقی یخچال ساید
                        </li>
                        <li>
                            تعویض سنسور یخچال ساید‌بای‌ساید
                        </li>
                        <li>
                            تعویض ترموفیوز ساید
                        </li>
                        <li>
                            تعویض و تعمیر برد الکترونیکی ساید
                        </li>
                        <li>
                            تعمیر و تعویض برد اینورتر
                        </li>
                        <li>
                            شستشوی مدار گاز
                        </li>
                        <li>
                            سرویس سالیانه کندانسور
                        </li>
                        <li>
                            رگلاژ درب یخچال ساید
                        </li>
                        <li>
                            تعویض زبانه درب بار یخچال ساید‌بای‌ساید
                        </li>
                    </ul>
                    <p class="aboutus">
                        همچنین اگر قصد جابجایی یخچال ساید خود رادارید نیاز به باز و بسته کردن درب برای عبور از مسیرهای باریک وجود دارد به‌گونه‌ای که
                        به آن آسیب وارد نشود. برای این کار نیز می‌توانید با ما تماس بگیرید و سرویس‌کاران ما در اولین فرصت در محل شما حاضر خواهند شد.
                    </p>
                    <h3>
                        تعمیر یخچال‌فریزر
                    </h3>
                    <p class="aboutus">
                        شاید بتوان بدون یخچال یک روز راهم گذراند
                        اما بدون فریزر چند ساعت هم می‌تواند مشکلات زیادی به وجود آورده و وسایل داخل آن فاسد شوند. به همین دلیل حضور سریع سرویسکار و سریع
                        تعمیر کردن آن اهمیت پررنگی پیدا می‌کند. نگران هیچ‌چیز نباشید! تفاوتی نمی‌کند یخچال‌فریزر جنرال الکتریک، یخچال‌فریزر سامسونگ، یخچال
                        فریز الکترو استیل و یا هر برند دیگری داشته باشید. چراکه ما تقریباً نمایندگی تعمیر تمام برندها راداریم و همچنین برای بسیاری
                        از برندهای متفرقه نیز تعمیرات انجام می‌دهیم، می‌توانید اطمینان داشته باشید که باتجربه و تخصص خود می‌توانیم مشکل شما را حل کنیم.
                    </p>
                    <h3>
                        بررسی علل برخی از مشکلات رایج یخچال‌فریزر
                    </h3>
                    <p class="aboutus">
                        در ادامه به بررسی سه تا از عمده‌ترین مشکلات یخچال فریزرها می‌پردازیم. چراکه دانستن آن‌ها در برخی موارد باعث می‌شود که علل را از میان برده و مجدد متحمل هزینه نشویم.
                    </p>
                    <h3>
                        یخچال‌فریزر دائماً در حال اجرا است
                    </h3>
                    <p class="aboutus">
                        اصولاً این مشکل به دو دلیل به وجود می‌آید:
                    </p>
                    <p class="aboutus">
                        علت اول: تنظیم بیش‌ازحد دمای یخچال‌فریزر باعث به وجود آمدن این مشکل می‌شود. در این صورت یخچال به‌صورت یکسره کارکرده و مشکلاتی مانند فاسدشدن و یا منجمد شدن برخی غذاهای داخل یخچال به وجود می‌آید.
                    </p>
                    <p class="aboutus">
                        علت دوم: اگر در یک محیط پر گردوخاک هستید و یا حیوان خانگی دارید ممکن است غبار در اطراف سیم‌پیچ‌‌های کندانسور یخچال بنشیند. این امر یکی از مهم‌ترین دلایل کار کردن یکسره یخچال‌فریزر است.
                    </p>
                    <h3>
                        نشت آب در یخچال‌فریزر
                    </h3>
                    <p class=aboutus>
                        یکی از مشکلات ناخوشایند اما بسیار شایع در خرابی یخچال‌فریزر دیده شدن آب در آن است. این موضوع به‌سادگی قابل‌حل است و چندان جای نگرانی وجود ندارد. برای تعمیر یخچال خود با کارشناسان ما تماس بگیرید و یا مراحل زیر را بررسی نمایید شاید بتوانید خودتان مشکل را برطرف نمایید.
                    </p>
                    <p class="aboutus">
                        1.	مسیر تخلیه‌ی یخ‌زدایی را در دفترچه راهنمای یخچال خود پیدا کنید.
                    </p>
                    <p class=aboutus>
                        2.	واشر درب آب و مسیر تخلیه یخ‌زدایی را بررسی نمایید.
                    </p>
                    <p class=aboutus>
                        3.	ممکن است به‌مرورزمان مسیر تخلیه با آشغال و یا یخ مسدود شده باشد. در این صورت باید با دقت پاک‌سازی لازم را انجام دهید.
                    </p>
                    <h3>
                        خنک نکردن یخچال‌فریزر
                    </h3>
                    <p class="aboutus">
                        این‌که یخچال‌فریزر خنک نکند معمولاً به دلایل زیر اتفاق میافتد:
                    </p>
                    <ul class="article-list">
                        <li>
                            خراب شدن اپراتور
                        </li>
                        <li>
                            خراب شدن کمپرسور
                        </li>
                        <li>
                            نیاز به شارژ گاز
                        </li>
                        <li>
                            خراب شدن کندانسور
                        </li>
                        <li>
                            خراب شدن درب یخچال
                        </li>
                    </ul>
                    <h3>
                        برفک زدن فریزر
                    </h3>
                    <p class="aboutus">
                        برفک زدن بیش‌ازحد فریزر تنها به چند دلیل رایج است:
                    </p>
                    <p class="aboutus">
                        هوای گرم: باید برای یخچال خود جایی با دمای استاندارد پیدا کنید و شدیداً توصیه می‌کنم یخچال خود را در کنار گاز قرار ندهید.
                    </p>
                    <p class="aboutus">
                        فرسودگی نوار دور یخچال: طبیعی است که به علت باز و بسته کردن مداوم در یخچال، نوار دور یخچال فشرده می‌شود. فشردگی ایجادشده در نوار باعث می‌شود درب به‌خوبی چفت نشود و جریان هوا از بیرون یخچال به داخل جریان پیدا کند.
                    </p>
                    <p class="aboutus">
                        ایراد در ترموستات: برفک زدن می‌تواند به دلیل ایراد در این قطعه باشد که به تشخیص تعمیرکار باید تعمیر و یا تعویض گردد.
                    </p>
                    <p class="aboutus">
                        عدم رعایت فاصله با دیوار: حداقل میزان استانداردی که یخچال باید از پشت با دیوار فاصله داشته باشد 10 سانتی‌متر است. اگر این فاصله رعایت نشود موتور یخچال داغ شده و باعث ایجاد برفک در یخچال نیز می‌گردد.
                    </p>
                    <p class="aboutus">
                        قرار دادن غذای داغ در یخچال: همه می‌دانند که گذاشتن غذای خیلی داغ در یخچال درست نیست. به این موضوع اهمیت داده و این کار را انجام ندهید که یکی از دلایل ایجاد برفک این موضوع است.
                    </p>
                    <p class="aboutus">
                        کثیفی قسمت پایانی کابین یخچال: اگر یک ماده غذایی و یا پلاستیک و ... به قسمت پایانی کابین یخچال بچسبد می‌تواند درروند آن اختلال ایجاد کرده و احتمال برفک زدن یخچال را به‌شدت افزایش می‌دهد.
                    </p>
                    <h3>
                        تعمیر انواع مدل‌های یخچال
                    </h3>
                    <p class="aboutus">
                        دینا‌سرویس با 50 سال سابقه کار، از سرویس‌کاران و متخصصانی برای تعمیر یخچال استفاده می‌نماید که کاملاً بر روی کار خود تسلط داشته و نهایت تلاششان را می‌کنند که قطعات را تعمیر کنند. درصورتی‌که امکان تعمیر قطعات وجود نداشته باشد، باکیفیت‌ترین آن‌ها تهیه‌شده و با ضمانت برای شما تعویض می‌گردد.
                    </p>
                    <p class="aboutus">
                        یخچال از وسیله‌های برقی گران‌قیمت است که در صورت کار نکردن مجبور به پرداخت هزینه‌ی زیادی برای خرید مجدد می‌گردید. برای همین توصیه می‌شود از سرویس‌کاران خبره دینا سرویس برای تعمیر استفاده نمایید تا بتوانند در حد امکان وسیله را برای سال‌های طولانی‌تر برای شما تعمیر کرده و حفظ نمایند.
                    </p>
                    <h3>
                        یخچال هرچند دقیقه اتومات می‌کند؟
                    </h3>
                    <p class="aboutus">
                        ازجمله سؤالاتی که برای افراد در استفاده از یخچال پیش می‌آید زمان درست اتومات کردن یخچال است. به‌طورمعمول یخچال به ازای هر 30 دقیقه‌ای که کار می‌کند، باید 15 دقیقه به حالت خاموش برود.
                    </p>
                    <h3>
                        اتومات نکردن یخچال
                    </h3>
                    <p class="aboutus">
                        اما درصورتی‌که یخچال به‌صورت یکسره کار کند و به استراحت نرود درواقع شما با مشکل اتومات نکردن یخچال مواجه شده‌اید. این موضوع نیاز به تعمیرات یخچال داشته و معمولاً دو علت عمده دارد:
                    </p>
                    <p class="aboutus">
                        ایراد و خرابی کمپرسور
                    </p>
                    <p class="aboutus">
                        ایراد و خرابی کمپرسور
                        خرابی ترموستات (قطعه‌ای که دمای یخچال را کنترل می‌نماید.)
                    </p>
                    <p class="aboutus">
                        نحوه‌ی کارکرد این دو وسیله به این شکل است که کمپرسور سرمای لازم را برای یخچال تولید می‌کند و ترموستات زمانی که سرما به حد لازم برسد آن را قطع می‌نماید؛ و یکسره کار کردن یخچال زمانی اتفاق میافتد که ترموستات به هر دلیلی نتواند کمپرسور را قطع کند.
                    </p>
                    <h3>
                        صدای زیاد و آزاردهنده یخچال
                    </h3>
                    <p class="aboutus">
                        برای برخی از خرابی‌ها ممکن است که خود فرد بتواند مشکل را برطرف نماید. صدای زیاد یخچال هم یکی از این موارد است. معمولاً این مشکل به دو علت است:
                    </p>
                   <ul class="article-list">
                        <li>
                            سست بودن پایه‌های کمپرسور
                        </li>
                        <li>
                            ایراد در فن‌های یخچال
                        </li>
                    </ul>
                    <p class="aboutus">
                        فن اپراتور یخچال اصولاً در داخل آن قرار دارد و یا در پشت یخچال کنار کمپرسور واقع‌شده است. ابتدا به بررسی آن بپردازید و اگر مشکلی وجود نداشت به بررسی پایه‌های کمپرسور پرداخته و آن را تنظیم نمایید؛ اما اگر اصلاً به کار‌های فنی و یخچال آشنایی ندارید با دینا‌سرویس تماس حاصل نمایید. در کوتاه‌ترین زمان ممکن در محل حضور پیداکرده و با بهترین قیمت تعمیرات لازم را برای شما انجام می‌دهیم.
                    </p>
                    <h3>
                        افتادگی درب یخچال
                    </h3>
                    <p class="aboutus">
                        فرقی نمی‌کند چه یخچالی، ساید‌بای‌ساید، فریزر و ... درصورتی‌که در مدل یخچال شما در قسمت درب جایی برای مواد غذایی وجود دارد باید دقت کنید که آن را بیش‌ازحد سنگین نکنید. با سنگین کردن بیش‌ازحد درب، قدرت نگه دارندگی لولاها از بین رفته و به‌مرورزمان باعث ایجاد افتادگی درب می‌شود. اگر با این مشکل مواجه شدید تنها کافی است لولاهای درب را عوض کرده و سعی کنید دیگر این اشتباه را تکرار نکنید که مجبور به‌صرف زمان و هزینه بشوید.
                    </p>
                    <h3>
                        روشن نشدن یخچال (انواع یخچال‌ها)
                    </h3>
                    <p class="aboutus">
                        در انواع یخچال ساید‌بای‌ساید، فریزر و... دلایل مشترکی برای روشن نشدن یخچال وجود دارد که باید به ترتیب از ساده‌ترین علل موردبررسی قرار بگیرد.
                    </p>
                   <ul class="article-list">
                        <li>
                            نوسان برق یا به برق نبودن یخچال
                        </li>
                        <li>
                            مشکل در برق‌رسانی دستگاه
                        </li>
                        <li>
                            ایراد و خرابی در برد دستگاه
                        </li>
                    </ul>
                    <p class="aboutus">
                        مورد اول را به‌دقت بررسی کنید اگر ایرادی پیدا نشد با دینا‌سرویس تماس بگیرید تا در سریع‌ترین زمان سرویس‌کار مجربی را اعزام به محل شما نماید.
                    </p>
                    <h3>
                        مراحل تعمیر انواع یخچال در دینا‌سرویس
                    </h3>
                    <h4>
                        ثبت درخواست تعمیر یخچال
                    </h4>
                    <p class="aboutus">
                        برای این کار از دو طریق پر کردن فرم به‌صورت آنلاین و یا تماس تلفنی می‌توانید درخواست خود را ثبت کنید. لطفاً اطلاعات کاملی از مدل و برند یخچال و ایراد آن را ذکر نمایید.
                    </p>
                    <h4>
                        تماس کارشناس تعمیرات یخچال
                    </h4>
                    <p class="aboutus">
                        با توجه به نوع یخچال شما (ساید، فریزر و ...) کارشناس مربوطه با شما تماس گرفته و در صورت لزوم مشاوره‌ای کوتاه با شما انجام می‌پذیرد. معمولاً برای تشخیص درست کارشناس باید در محل حضور یابد که در این تماس هماهنگی‌های لازم انجام می‌پذیرد.
                    </p>
                    <h4>
                        عیب‌یابی یخچال
                    </h4>
                     <p class="aboutus">
                        عیب‌یابی یکی از مهم‌ترین مراحل و درواقع اولین مرحله‌ی تعمیر یخچال است. همان‌طور که می‌دانید چکاب و بررسی یخچال نیاز به تخصص و تجربه دارد اما هزینه‌ای از شما دریافت نمی‌شود، مگر درصورتی‌که از تعمیر منصرف شوید که فقط هزینه‌ی ایاب و ذهاب دریافت شده و مشاوره به‌رایگان انجام می‌شود.
                    </p>
                    <h4>
                        برآورد هزینه تعمیر
                    </h4>
                    <p class="aboutus">
                        شما می‌توانید از کارشناس درخواست کنید پیش از شروع، تخمین قیمت را به شما اعلام کند و سپس اقدام به انجام تعمیرات کند.
                    </p>
                    <h4>
                        تعمیر و جایگزینی قطعات
                    </h4>
                     <p class="aboutus">
                        پس‌ازآنکه هزینه از طرف مشتری تأیید شود، کارشناس می‌تواند اقدام به تعمیر و جایگزینی قطعات نماید.
                    </p>
                    <h4>
                        تست و تحویل یخچال
                    </h4>
                     <p class="aboutus">
                        با توجه به ایرادی که یخچال داشته تست‌های لازم انجام‌شده و به مشتری تحویل داده می‌شود.(در برخی موارد کارشناس از مشتری درخواست می‌کند که عملکرد را زیر نظر داشته باشد و در صورت بروز مشکل تماس برقرار کند.)
                    </p>
                    <h4>
                        ارائه فاکتور و ضمانت‌نامه
                    </h4>
                    <p class="aboutus">
                        درنهایت سرویس‌کار ملزم به ارائه فاکتور و ضمانت‌نامه‌ی رسمی دینا‌سرویس به شما است. درصورتی‌که شکایت، پیشنهاد و یا انتقادی داشتید می‌توانید با شماره‌های روی فاکتور تماس گرفته و به بیان آن‌ها بپردازید.
                    </p>
                    <h3>
                        دینا‌سرویس نمایندگی تعمیر کدام برندهای یخچال را دارد؟
                    </h3>
                    <p class="aboutus">
                        ما در این مجموعه نمایندگی تعمیرات برندهای متعددی را داریم. علت این امر این است که بیشتر از 50 سال سابقه در این کار داشته و این سابقه کاری و رضایت مشتریان، باعث شده همواره برندهای بیشتری را تحت پوشش خود قرار دهیم.
                    </p>
                    <p class="aboutus">
                        ازجمله نمایندگی‌های یخچالی که داریم به شرح زیر است.
                    </p>
                    <ul class="article-list">
                        <li>
                            نمایندگی تعمیرات یخچال مابه
                        </li>
                        <li>
                            نمایندگی تعمیرات یخچال آاگ
                        </li>
                        <li>
                            نمایندگی تعمیرات یخچال وایت هاوس
                        </li>
                        <li>
                            نمایندگی تعمیرات یخچال فریجیدر
                        </li>
                        <li>
                            نمایندگی تعمیرات یخچال آدمیرال
                        </li>
                    </ul>
                    <h3>
                        تعمیر انواع یخچال در تهران
                    </h3>
                    <p class="aboutus">
                        دینا‌سرویس با سال‌ها سابقه درخشان آماده خدمت‌رسانی در تعمیرات انواع یخچال در تهران است. در ابتدای کار عمده فعالیت ما در شرق تهران بود و با گسترش درخواست‌ها شمال تهران و غرب تهران نیز به‌صورت متمرکز فعالیت خود را گسترش دادیم و در حال حاضر در سراسر تهران پاسخگوی مشتریان عزیزمان هستیم.
                    </p>
                     <p class="aboutus">
                        در این سال‌ها دینا‌سرویس هزاران تعمیر یخچال ساید‌بای‌ساید، فریزر، یخچال‌های بالا پایین، دور این دور و ... انجام داده است و همواره سعی داشته مشتریان خود را راضی نگه دارد.
                    </p>
                    <h3>
                        شارژ گاز یخچال
                    </h3>
                     <p class="aboutus">
                        شارژ گاز یخچال ازجمله مواردی است که نیاز به تجهیزات دارد و انجام این کار توسط افراد غیرمتخصص بسیار خطرناک است. سرویس‌کاران دینا‌سرویس در سراسر تهران آماده خدمت‌رسانی برای انجام شارژ گاز ایمن در محل شما هستند.
                    </p>
                    <h3>
                        درباره انواع گازهای مورداستفاده در یخچال
                    </h3>
                    <p class="aboutus">
                        این گازها را به‌طورکلی فارغ از نوع آن گازهاي مبرد یا سرمازا می‌نامند. جالب است بدانید که گازهای مبرد را دانشمند بزرگ ایرانی ابن‌سینا اختراع کرد. در اوایل شروع صنعت یخچال سازی از گاز آمونیاک NH3 برای ساخت یخچال استفاده می‌شد اما این گاز سمی است و عوارض بسیار زیادی به‌خصوص برای چشم دارد. ترکیب گاز آمونیاک با رطوبت باعث خوردگی فلزاتی مانند مس و آلومینیوم می‌شود. همچنین خاصیت انفجاری و خطر خفگی برای انسان‌ها دارد.
                    </p>
                    <p class="aboutus">
                        به همین دلایل گاز فریون 12 با فرمول مولکولی CCl2F2 جای گاز آمونیاک را گرفت. این گاز در ترکیب با هوا بی‌بو است و اثر تخریبی بر روی فلزات ندارد و سمی نیز نیست. ولی از معایب آن می‌توان به دو مورداشاره کرد، حجم زیادی نسبت به آمونیاک اشغال می‌کند و لایه‌ی اوزون را به گاز اکسیژن تبدیل می‌کند. گازهای جدید از گازی به نام A134 و مبرد هیدروکربن R600 حاصل آن است.
                    </p>
                     <p class="aboutus">
                        در حال حاضر گاز مورداستفاده در یخچال سازي R134A است. فریون مخصوص كولر‌هاي گازي فریون 22(CHCLF2) است. ازآنجاکه این فریون داراي هيدروژن است، اثر تخریبي آن در لایه اوزون به‌مراتب كمتر از فریون 11 و 12 است. برخي از گازهاي مبرد عبارت‌اند از:
                    </p>
                    <ul class="article-list">
                        <li>
                            آمونياك NH3
                        </li>
                        <li>
                            فریون 11 NFCL3 22
                        </li>
                        <li>
                            فریون CHCL2F21 21
                        </li>
                        <li>
                            فریون CCL2F2 12
                        </li>
                        <li>
                            فریون CHCLF2
                        </li>
                        <li>
                            فریون 114 C2CL2F2
                        </li>
                        <li>
                            انيدرید سولفورو SO2
                        </li>
                        <li>
                            متيل كلرید CH3CL
                        </li>
                        <li>
                            انيدریدكربنيك CO2
                        </li>
                        <li>
                            اتيل كلرید C2H5CL
                        </li>
                    </ul>
                    <p class="aboutus">
                        در نظر داشته باشید که انتخاب نوع گاز مناسب برای شارژ گاز یخچال شما بر عهده‌ی تعمیرکار است.
                    </p>
                </li>

            </ul>

            <div class="project-tags">
                <span>برچسب ها : </span>

                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر لوازم خانگی".Replace(' ','-')})">#تعمیر لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="مرکز تعمیر لوازم خانگی".Replace(' ','-')})">#مرکز تعمیر لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات لوازم خانگی".Replace(' ','-')})">#تعمیرات لوازم خانگی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات ماشین لباسشویی".Replace(' ','-')})">#تعمیرات ماشین لباسشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر ماشین لباسشویی".Replace(' ','-')})">#تعمیر ماشین لباسشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیرات ماشین ظرفشویی".Replace(' ','-')})">#تعمیرات ماشین ظرفشویی</a>
                <a href="@Url.Action("Category","Content",new { area="",id=3,slug="تعمیر ماشین ظرفشویی".Replace(' ','-')})">#تعمیر ماشین ظرفشویی</a>


            </div>



        </div>

    </div>
</div>
