@model IEnumerable<Contents>
@{
    ViewBag.Title = ViewBag.Des;
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page">


    <div class="head-post " style="background-image: url('@Url.Action("ShowImage","Home",new { id=ViewBag.FileId})');">
        <div class="container">
            <div class="head-post-title">
                <h1>تعمیر لوازم خانگی @ViewBag.Brand</h1>
            </div>

            <div class="head-post-content">
                <strong>دینا سرویس ارائه دهنده ی خدمات تعمیر لوازم خانگی در سراسر تهران</strong>
            </div>
        </div>
    </div>
    <div class="des-post row">
        @*<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 des-post-image">
                <img alt="تعمیر لوازم خانگی @ViewBag.Brand" src="~/Content/Images/image-slider/image-slider-5.png" />
            </div>*@
        <div class="des-post-content col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h2>تعمیرات لوازم خانگی @ViewBag.Brand</h2>
            <p>
                آیا نیاز به <strong>تعمیر لوازم خانگی @ViewBag.Brand</strong> دارید؟ آیا نیاز به <strong>تعمیر ماشین لباسشویی @ViewBag.Brand</strong>  در محل خود دارید؟ آیا نیاز به <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong> در محل خود دارید؟
                متخصصان دینا سرویس در زمینه <strong>تعمیر ماشین لباسشویی @ViewBag.Brand</strong> و <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong> در هر ساعت از شبانه روز آماده ی ارائه خدمات <strong>تعمیر ماشین لباسشویی @ViewBag.Brand</strong> و <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong> در محل شماهستند
                <br />
                <br />
                <b>کافیست با ما تماس بگیرید</b>
            </p>
            <div class="items-post">
                @*<img alt="تعمیر لوازم خانگی @ViewBag.Brand" src="~/Content/Images/construction-png/016-screwdriver.png" />*@
                <div>
                    <h3>
                        تعمیر ماشین لباسشویی @ViewBag.Brand
                    </h3>
                    <p>
                        متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی <strong>تعمیر لوازم خانگی</strong> و مشخصا <strong>تعمیر ماشین لباسشویی</strong> و <strong>تعمیر ماشین ظرفشویی</strong> در هر ساعت از شبانه روز آماده ی خدمت رسانی به شما همشهریان عزیز
                        میباشند.همچنین در ضمینه ی <strong>تعمیر ماشین لباسشویی @ViewBag.Brand</strong> و <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong> قابل ذکر می باشد که تکنیسین های دینا سرویس با توجه
                        به اینکه آشنایی کامل در رابطه با انواع مدل های <strong>ماشین لباسشویی @ViewBag.Brand</strong> و <strong>ماشین ظرفشویی @ViewBag.Brand</strong> دارند و با توجه به گذراندن دوره های تخصصی
                                                                                                                 <strong>تعمیر لباسشویی @ViewBag.Brand</strong> و <strong>تعمیرماشین ظرفشویی @ViewBag.Brand</strong> در تلاش هستند تا بهترین و با کیفیت ترین خدمات را در زمینه ی <strong>تعمیر ماشین لباسشویی @ViewBag.Brand</strong> و <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong>
                        ارائه بدهند.
                    </p>
                </div>
                <div>
                    <h3>
                        تعمیر ماشین ظرفشویی @ViewBag.Brand
                    </h3>
                    <p>
                        به طور مختصر <strong>انواع ماشین ظرفشویی</strong> به شرح زیر می باشند.
                        <br />
                        <strong>ماشین ظرف‌شویی توکار</strong> که داخل کابینت نصب می‌شود و قابل جابه‌جا کردن نیست.
                        <br />
                        <strong>ماشین ظرف‌شویی رومیزی</strong> و سبک قابل جابه‌جا شدن هستند و تنوع رنگیِ بسیار بالایی دارند.
                        <br />
                        <strong>ماشین ظرف‌شویی ایستاده</strong> برای حجم‌های بالاترِ ظروف مورد استفاده است و درست مثل <strong>ماشین لباس‌شویی</strong> به جایگاهی در آشپزخانه برای نصب شدن نیاز دارد.
                        <br />
                        <br />
                        دینا سرویس مفتحر است با سال های تجربه در ضمینه ی <strong>تعمیر ماشین ظرفشویی</strong> و خاصا <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong> سریع ترین و ارزان ترین
                        و در عین حال با کیفیت ترین خدمات <strong>تعمیر ماشین ظرفشویی</strong> را در محل شما ارائه می دهد.
                        این یک شعار نیست و بازخورد مشتریان ما در ضمینه ی <strong>تعمیر لوازم خانگی</strong> و مشخصا <strong>تعمیر ماشین لباسشویی @ViewBag.Brand</strong> و <strong>تعمیر ماشین ظرفشویی @ViewBag.Brand</strong>
                        گواه کار ماست . کافیست با ما تماس بگیرید تا در کوتاه ترین زمان متخصصان ما جهت <strong>تعمیر لوازم خانگی</strong> شما در محل حاضر خواهند بود . رضایت شما افتخار ماست.
                    </p>
                   
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="section-product">
            <div class="row ">
                <div class="mini-header">
                    <span>موارد مطالعاتی</span>
                </div>
                <div class="section-header">
                    <h2>
                        از بین بردن چالش های تعمیر لوازم خانگی تخصص ماست
                    </h2>
                </div>

                <div class="section-content">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="study-item">
                                    <div>
                                        <img alt="@item.Title" src="/filehanlder/@item.FileId" />
                                    </div>

                                    <div class="study-item-body">
                                        <h2>@item.Title</h2>
                                        <span class="des-product">@Html.Raw(System.Net.WebUtility.HtmlDecode(item.Description))</span>
                                        <a href="/@item.Id/@item.Slug.Replace(' ','-')">
                                            <span class="button-c">اطلاعات بیشتر را مشاهده کنید</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
